{% extends "images.html" %}
{% block body %}
<div class="answerContainer d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-between">
            {% for image in images %}
                <div class="col-md-3">
                    <div class="image-container">
                        <a href="static/generated_images/{{ images[image][0] }}">
                            <img src="static/generated_images/{{ images[image][0] }}" class="img-fluid image" alt="{{ images[image][1] }}">
                            <div class="overlay">
                                <div class="text">"{{ images[image][1] }}"</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}