{% extends "index.html" %}
{% block body %}
<div class="container container-relative">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="alert alert-light alert-fixed alert-small" role="alert" style="display: none;">
            Descrição enviada! Aguarde alguns segundos..
            <div class="spinner-border spinner-border-sm ms-auto" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
    <form method="post" class="row">
        <div class="col-md-8 mx-auto mb-3">
            <label for="exampleInputEmail1" class="form-label col-md-2 label-grande">Imagens</label>
            <div class="input-group col-md-6">
                <input type="text" class="form-control" id="description" name="description">
                <button type="submit" class="btn btn-primary" id="create_image">Criar imagem</button>
            </div>
            <div id="questionHelp" class="form-text">Insira a descrição da imagem que deseja criar.</div>
        </div>
    </form>
</div>
{% endblock %}